/* Global styles */
/* ----------------------------------------- */

@import '../../node_modules/modern-normalize/modern-normalize.css';

/* ----------------------------------------- */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url('./fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: local('Neuton'), url('./fonts/Neuton-Regular.woff') format('woff');
}

/* ----------------------------------------- */

:root {
  --brown: #B8A695;
  --green: #A4CDC9;
  --grey: #B0B0B0;
  --light-green: #DCECEC;
  --pink: #EFDEE4;
  --red: #EB9695;
  --yellow: #F8D89F;
  --white: #FFFFFF;
  --black: #252525;

  --title-font: 'Neuton', sans-serif;
  --text-font: 'Montserrat', sans-serif;

  --spacing: 16px;
  --spacing-tight: 8px;
  --spacing-large: 32px;
}

html,
body,
#app {
  min-height: 100vh;
}

body {
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  letter-spacing: 0.05em;
}

input {
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--grey);
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: var(--green);
  border-radius: 8px;
  border: 1px solid var(--green);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  padding: 8px;
}

hr {
  background-image: url("/separator.png");
  height: 20px;
  border: none;
}
